<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="/stylesheets/business-economics.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">
    <title>Blogs</title>
</head>
<body>

    <!-- <div class="bg-pic-background">
        <img src="images/sameer_3draft.jpeg" alt="background">
    </div> -->
    <style>
    #messagebox{
        background-color: #ab2d24; 
    }
   
    </style>
    
    <div id="md"><h2 id="messagebox"><%=successmessage%></h2></div>
    
    
    
    <header>
        
    <div class="top-horiz-bar">
        <div class="logo-section-in-bar">
            
            <a href="/"><img class="top-img-logo" src="/images/final_2.png" alt="logo-pic" height="60px" width="60px"></a>
            <!-- <img class="top-name-logo" src="./zoomed-brand-name.png" alt="logo-name" height="80px" width="130px"> -->
            <a href="/"><img class="top-img2-logo" src="/images/5.png" alt="logo-pic" height="60rem" width="145rem"></a>
            
        </div>


        <div class="other-icons">
        <form method="get" action="/posts/business-economics">
            <div class="search-box">
                
                <input id="search-font" class="search-txt" type="text" name="search" placeholder="Type to search">
            
                <button class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            
            </div>
        </form>
        
        <%- include('partials/toprightname.ejs') %>

        </div>

        </div>


<%- include('partials/vertical_navbar.ejs') %>
</header>

<main>

    <div class="all-engineering-articles">

        <%- include('partials/sidebox.ejs') %>

        <div class="table-all">
            <% for(let i=start; i<=limit; i+=2) { %>
        <!-- <div class="row"> -->

            <% if(i<=posts.length-1){ %>
                <% if(posts[i] !== null && posts[i].isReviewedByAdmin === true){ %>
           

        <div class="column">
            <div class="blog-post">
            <div class="blog-post__img">
            <img src="/uploads/img/posts/<%=posts[i].imagename%>" alt="<%=posts[i].imagename%>" class="blog-post__article-img">
            </div>
            <div class="blog-post__info">
            <div class="blog-post__date">
                <span><%= posts[i].publishDate.toDateString()%></span>
                <span><%= posts[i].publish_date %></span>
            </div>
            <div class="author-name">
                <ul class="author-content">
                    <button onclick="addFollower(this)" getauthor="<%= posts[i].authorName %>" > <li class="name-aut"><%= posts[i].authorName %>></li></button>
                    <button onclick="saveToLater(this)" getpost="<%=posts[i].slug%>" > <li class="save-to-later"><i class="fas fa-plus "></i></li></button>
                </ul>
            </div>
            <h1 class="blog-post__title"><%=posts[i].title%></h1>
            <p class="blog-post__text"><%= posts[i].content.substring(0,270) %>...</p>
            <% if(currentUser && currentUser.role === "admin"){ %>
                <form method="POST" action="/updateRecommended/<%=posts[i].slug%>/<%=posts[i].subject%>/<%=page%>">
                    <span>push to recommended at what position: </span><input type="number" name="position">
                    <button type="submit">push</button>
                </form>

                <form method="POST"  enctype="multipart/form-data" action="/posts/upload/file/<%=posts[i]._id%>">
                    <!-- <span>upload the image with numbering same as <b>article number</b>: </span> -->
                    <input type="file" placeholder="file upload" name="photo"><BR><br>
                    
                      <input type="submit" value="click here after attaching the image">
                     
                </form>
                <div><button onclick="deletePost(this)" getpost="<%=posts[i].slug%>" >delete post</button></div>
            <% } %>
            <a href="/posts/business-economics/<%=posts[i].slug%>" class="blog-post__cta">Read more</a>
            <ul class="btns-on-blogcard">
                <!-- <li class="btns-blog"><i class="far fa-eye fa-2x "></i></li> -->
                <button onclick="like(this)" getpost="<%=posts[i].slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span onclick="count(this)" class="count" id="likecount" ><%=posts[i].likes%></span></li></button>
                <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/business-economics/<%= posts[i].slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=posts[i].slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=posts[i].shares%></span></li></button></a>
         
                <span></span>
            </ul>
            </div>
            </div>
            </div>
            <% } %>
            <% } %>



            <% if( i+1 <= posts.length-1 ){ %>
                <% if(posts[i+1] !== null && posts[i+1].isReviewedByAdmin === true){ %>
            <div class="column">
                <div class="blog-post">
                <div class="blog-post__img">
                <img src="/uploads/img/posts/<%=posts[i+1].imagename%>" alt="<%=posts[i+1].imagename%>" class="blog-post__article-img">
                </div>
                <div class="blog-post__info">
                <div class="blog-post__date">
                    <span><%= posts[i+1].publishDate.toDateString()%></span>
                    <span><%= posts[i+1].publish_date %></span>
                </div>
                <div class="author-name">
                    <ul class="author-content">
                        <button onclick="addFollower(this)" getauthor="<%= posts[i+1].authorName %>" > <li class="name-aut"><%= posts[i+1].authorName %>></li></button>
                        <button onclick="saveToLater(this)" getpost="<%=posts[i+1].slug%>" > <li class="save-to-later"><i class="fas fa-plus "></i></li></button>
                    </ul>
                </div>
                <h1 class="blog-post__title"><%=posts[i+1].title%></h1>
                <p class="blog-post__text"><%= posts[i+1].content.substring(0,270) %>...</p>
                <% if(currentUser && currentUser.role == "admin"){ %>
                    <form method="POST" action="/updateRecommended/<%=posts[i].slug%>/<%=posts[i].subject%>/<%=page%>">
                        <span>push to recommended at what position: </span><input type="number" name="position">
                        <button type="submit">push</button>
                    </form>

                    <form method="POST"  enctype="multipart/form-data" action="/posts/upload/file/<%=posts[i+1]._id%>">
                        <!-- <span>upload the image with numbering same as <b>article number</b>: </span> -->
                        <input type="file" placeholder="file upload" name="photo"><BR><br>
                        
                          <input type="submit" value="click here after attaching the image">
                         
                    </form>
                    <div><button onclick="deletePost(this)" getpost="<%=posts[i+1].slug%>">delete post</button></div>
                <% } %>
                <a href="/posts/business-economics/<%=posts[i+1].slug%>" class="blog-post__cta">Read more</a>
                <ul class="btns-on-blogcard">
                    <!-- <li class="btns-blog"><i class="far fa-eye fa-2x "></i></li> -->
                    <button onclick="like(this)" getpost="<%=posts[i+1].slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count" id="likecount"><%=posts[i+1].likes%></span></li></button>
                <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/business-economics/<%= posts[i+1].slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=posts[i+1].slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=posts[i+1].shares%></span></li></button></a>
                    <span></span>
                </ul>
                </div>
                </div>
                </div>
                <% } %>
            <% } %>
           
            <% } %>

        

        <!-- </div> -->

        </div>


        </div>


            <!-- <div class="page-end">
                &nbsp;
            </div> -->

            <div class="next-page">
                <% if(shownextbutton === true){ %>
                <h2 class="new-page-blogs">-Page <%=page%>- <span class="next-page-btn"><a href="/posts/business-economics?page=<%=nextpage%>">Next page</a></span></h2>
                <% } else{ %>
                    <h2 class="new-page-blogs">-Page <%=page%>-</h2>
                <% } %>
            </div>
        </div>
        </section> 

    </main>
        

    <%- include('partials/footer.ejs') %>

</body>



<script>  
    var httpRequest;     
    var currentUser;
    var messagebox = document.getElementById('messagebox')
    function findUser(){
        httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = findUserRequest;
        httpRequest.open('GET', '/findUser');        
        httpRequest.send();
    }
    window.onload = findUser();

    
    function findUserRequest(){
        
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200 ) {
                var resJson = JSON.parse(httpRequest.responseText)
                currentUser = resJson.CurrentUser;
                console.log(currentUser)
                if(currentUser === undefined){
                    console.log("no one is logged in");
                } else {
                    console.log('user found!!')
                }
                
            } else {
            alert('There was a problem with the request.');
            }
        }
    }
 
        function saveLaterRequest(){
        
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200 ) {
                    var resJson = JSON.parse(httpRequest.responseText)
                    console.log(resJson.message);
                    messagebox.innerText = resJson.message;
                } else {
                alert('There was a problem with the request.');
                }
            }
        }


        async function addFollowerRequest(){
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200 ) {
                    var resJson = JSON.parse(httpRequest.responseText)
                    console.log(resJson.message);
                    messagebox.innerText = resJson.message;
                } else {
                alert('There was a problem with the request.');
                }
            }
        }



        function deletePostRequest(){
        
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200 ) {
                    
                    console.log('post deleted')
                } else {
                alert('There was a problem with the request.');
                }
            }
        }


        function sharePostRequest(){
        
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200 ) {       
                    var resJson = JSON.parse(httpRequest.responseText)
                    document.getElementById('sharecount').innerHTML = resJson.value;
                } else {
                    alert('There was a problem with the request.');
                }
            }
        }
    
          
       function saveToLater(e){
         
         var curPostSlug = e.getAttribute('getpost');    
         console.log("curpostslug " + curPostSlug)
         if(currentUser){
             httpRequest = new XMLHttpRequest();
         if (!httpRequest) {
           alert('Giving up :( Cannot create an XMLHTTP instance');
           return false;
         }
         httpRequest.onreadystatechange = saveLaterRequest;
         httpRequest.open('GET', '/savetolater/' + curPostSlug);        
         httpRequest.send();
       } else {
           console.log("you need to login to save this post")
           window.location = '/register_or_login?m=0'
       }
     }   

     function deletePost(e){
        var curPostSlug = e.getAttribute('getpost');   
        if(currentUser){
            httpRequest = new XMLHttpRequest();
            if (!httpRequest) {
            alert('Giving up :( Cannot create an XMLHTTP instance');
            return false;
            }
            httpRequest.onreadystatechange = deletePostRequest;
            httpRequest.open('GET', '/posts/delete/' + curPostSlug);        
            httpRequest.send();
       } else {
           console.log("you need to login to save this post")
       }
    }

    async function addFollower(e){
        if(currentUser){
            var authname = await e.getAttribute('getauthor');
            console.log("authname : ", authname);
            httpRequest = new XMLHttpRequest();
            if(!httpRequest){
                alert('Giving up :( Cannot create an XMLHTTP instance')
                return false;
            }
            httpRequest.onreadystatechange = addFollowerRequest;
            httpRequest.open('GET', '/addfollower/' +authname);
            httpRequest.send();
        } else {
            console.log("you need to login to follow an author")
            
            window.location = '/register_or_login?m=0'
        }
    }

    async function sharePost(e){
        if(currentUser){
            var curPostSlug = e.getAttribute('getpost');  
            
            httpRequest = new XMLHttpRequest();
            if(!httpRequest){
                alert('Giving up :( Cannot create an XMLHTTP instance')
                return false;
            }
            httpRequest.onreadystatechange = sharePostRequest;
            httpRequest.open('GET', '/sharePost/' +curPostSlug);
            httpRequest.send();
        } else {
            console.log("you need to login to share this post")
            window.location = '/register_or_login?m=0'
        }
    }


    function like(e){
        if(currentUser){
            let curPostSlug = e.getAttribute('getpost');  
            httpRequest = new XMLHttpRequest();
            if (!httpRequest) {
              alert('Giving up :( Cannot create an XMLHTTP instance');
              return false;
            }
            httpRequest.onreadystatechange = likeRequest;
            httpRequest.open('GET', '/posts/liked/' + curPostSlug);        
            httpRequest.send();
          
          }
         else {
        //   document.querySelector("#message").innerHTML = "you need to log in to like this post";
          window.location = '/register_or_login?m=0'
        }
      }

      function likeRequest(){
          if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
              let respJson = JSON.parse(httpRequest.responseText)
              console.log(respJson.message)
            //   document.querySelector('.count').innerText = respJson.message;
            } else {
              alert('There was a problem with the request.');
            }
          }
        }




 </script>



</html>