<html lang="en">
<head>



    <%- include("partials/google_Analytics.ejs") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="/stylesheets/one-first-css.css">
    <link rel="stylesheet" href="/stylesheets/review-css.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">
    <title>BackBenchers</title>
</head>

<style>

#oc11,#oc12,#oc13,#oc21,#oc22,#oc23,#oc31,#oc32,#oc33,#oc41,#oc42,#oc43{
    color: black;
    text-decoration: none;
}

.flash_bg_color{
    background: #0E76A8;
}

</style>

<body>
    <span id="start"></span>

    <% if(successmessage){ %>
        <h3 class="flash_bg_color"><%=successmessage%></h3>
    <% } else { %>
      <h3 class="flash_bg_color"><%=successmessage%></h3>
    <% } %>

    <header>
        <div class="background-img">
            <img id="bg-img" src="/images/16v-01.jpg" alt="">
        </div>

        <div class="person-account">
            <span class="account-info">
                <% if(currentUser){ %>
                    <% if(currentUser.google_id){ %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.google_username.substring(0,8)%></a>

                    <% } else if(currentUser.fb_id){ %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.fb_username.substring(0,8)%></a>

                    <% } else { %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.username.substring(0,8)%></a>
                    <% } %>
                    
                <% }else{ %>
                    <a href="/register_or_login" class="finall" style="color: black"> Sign-in/up</a>
                <% } %>
            </span>
        </div>

        <%- include("partials/vertical_navbar.ejs") %>


        <a href="#start"><div class="back-to-top">
            
                <span>
                <i class="fa fa-chevron-up aria-hidden="true"></i>
            </span>
        
        </div></a>

        <!-- <div class="tagline-area">

        </div> -->

        <section class="vision">
            <div class="wrapper">
                <div class="vision-image">
                    <img class="logologo" src="/images/final_2.png">
                </div>
        
                <!-- <div class="vision-border">
                    &nbsp;
                </div>
         -->
                <div class="vision-text">
                    <div class="boxx">
                        <h2 class="knowledge-fade">KNOWLEDGE POSSESS NO BOUNDRIES</h2>
                        <p>
                        BackBenchers is an edu-tech startup which aims to overcome major barriers in learning
                        and education. We provide a platform where all bloggers and content writers from all 
                        around the world can share their knowledge and ideas in Business and Economics, Commerce,
                        Engineering and Personality Development. We are  building  a community which believes 
                        in active learning and promotes education irrespective of the field. Rightly said "Bookish
                        knowledge may guides the way but practical knowledge experiences the way".
                        Be a part of our community and share your knowledge. Start publishing with us!!!
                        </p>
                        <div id="publish-btn">
                            <span class="account-infoo" href="#">
                                <a href="/publish" class="finalll"> Publish here !</a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </header>

    <main>
        <div class="engineering-page">

            <div class="tech-imgs">
                <img src="/images/engineering.png" id="left-img-1" alt="" >
                <img src="/images/2585513 - Copy.png" id="right-img-1" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-11">Engineering</h2>
            </div>

            <div class="tech-cards">
               
                <div class="overall-card-1" ><a href="/posts/engineering/<%=etrendingpost.post.slug%>" id="oc11">
                    <h1 class="one-1">#trending </h1>
                        <div class="blog-post__info">

                        <h1 class="blog-post__title-1"><%=etrendingpost.post.title%></h1>
                        <p id="testone" class="blog-post__text-1" id="card-text"><%=etrendingpost.post.content.substring(0,210)%></p>
                        <a href="/posts/engineering/<%=etrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                        <ul class="btns-on-blogcard">
                            <button onclick="like(this)" getpost="<%=etrendingpost.post.slug%>" ><li class="btns-blog"><i id="changelikecolor" class="far fa-hand-peace fa-2x "></i><span class="count"><%=etrendingpost.post.likes%></span></li></button>
                            
   
   <a href="https://api.whatsapp.com/send?text=thebackbenchers.co/posts/engineering/<%=etrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=etrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=etrendingpost.post.shares%></span></li></button></a>                         <span></span>
                        </ul>

                        </div>
                    </a>
                </div>


                <% if(erecommendedpost && erecommendedpost.post){ %>
                <div class="overall-card-1"><a href="/posts/engineering/<%=erecommendedpost.post.slug%>" id="oc12">
                    <h1 class="one-2">#Recommended</h1>
                    <div class="blog-post__info">
                    
                    <h1 class="blog-post__title-1"><%=erecommendedpost.post.title%></h1>
                    <p class="blog-post__text-1" id="card-text"><%=erecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/engineering/<%=erecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=erecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=erecommendedpost.post.likes%></span></li></button>
                        

<a href="https://api.whatsapp.com/send?text=thebackbenchers.co/posts/engineering/<%= erecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=erecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=erecommendedpost.post.shares%></span></li></button></a>                        <span></span>
                    </ul>

                    
                    </div>
                </a>
            </div>
            <% } %>


            <div class="overall-card-1"><a href="/posts/engineering/<%=epopularpost.post.slug%>" id="oc13">
                <h1 class="one-3">#Popular</h1>
                <div class="blog-post__info">

                <h1 class="blog-post__title-1"><%=epopularpost.post.title%></h1>
                <p class="blog-post__text-1" id="card-text"><%=epopularpost.post.content.substring(0,210)%></p>
                <a href="/posts/engineering/<%=epopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                <ul class="btns-on-blogcard">
                    <button onclick="like(this)" getpost="<%=epopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=epopularpost.post.likes%></span></li></button>
                    
    
    <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/engineering/<%= epopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=epopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=epopularpost.post.shares%></span></li></button></a>                <span></span>
                </ul>

                </div>
                </a>
            </div>
   
            </div>

            <a href="/posts/engineering?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-1">Explore more ...</h2>
            </div></a>



        </div>
































        <div class="business-economics-page">

            <div class="tech-imgs">
                <img src="/images/p3 (2) - Copy.png" id="left-img-2" alt="" >
                <img src="/images/p3 (3) - Copy.png" id="right-img-2" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-22">Business & Economics</h2>
            </div>

            <div class="tech-cards">


               
                <div class="overall-card-2"><a href="/posts/business-economics/<%=betrendingpost.post.slug%>" id="oc21">
                    <h1 class="one-11">#trending </h1>
                    <div class="blog-post__info">

                    <h1 class="blog-post__title-2"><%=betrendingpost.post.title%></h1>
                    <p class="blog-post__text-2" id="card-text"><%=betrendingpost.post.content.substring(0,210)%></p>
                    <a href="/posts/business-economics/<%=betrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=betrendingpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=betrendingpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=betrendingpost.post.shares%></span></li></button> -->
  
  <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= betrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=betrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=betrendingpost.post.shares%></span></li></button></a>                      <span></span>
                    </ul>

                    </div>
                    </a>
                </div>


                <% if(berecommendedpost && berecommendedpost.post){ %>
                <div class="overall-card-2"><a href="/posts/business-economics/<%=berecommendedpost.post.slug%>" id="oc22">
                    <h1 class="one-11">#Recommended</h1>
                    <div class="blog-post__info">
                   
                    <h1 class="blog-post__title-2"><%=berecommendedpost.post.title%></h1>
                    <p class="blog-post__text-2" id="card-text"><%=berecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/business-economics/<%=berecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=berecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=berecommendedpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=berecommendedpost.post.shares%></span></li></button> -->
                        <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= berecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=berecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=berecommendedpost.post.shares%></span></li></button></a>
                        <span></span>
                    </ul>
                    

                    </div>
                </a>
                </div>
                <% } %>


                <div class="overall-card-2"><a href="/posts/business-economics/<%=bepopularpost.post.slug%>" id="oc23">
                    <h1 class="one-11">#Popular</h1>
                    <div class="blog-post__info">

                    <h1 class="blog-post__title-2"><%=bepopularpost.post.title%></h1>
                    <p class="blog-post__text-2" id="card-text"><%=bepopularpost.post.content.substring(0,210)%></p>
                    <a href="/posts/business-economics/<%=bepopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=bepopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=bepopularpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=bepopularpost.post.shares%></span></li></button> -->
   
   <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= bepopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=bepopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=bepopularpost.post.shares%></span></li></button></a>                     <span></span>
                    </ul>

                    </div>
                </a>
            </div>
   
            </div>

            <a href="/posts/business-economics?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-2">Explore more ...</h2>
            </div></a>



        </div>

















        <div class="commerce-page">

            <div class="tech-imgs">
                <img src="/images/p2 (2) - Copy.png" id="left-img-3" alt="" >
                <img src="/images/commerce-bg (3) - Copy.png" id="right-img-3" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-33">Commerce</h2>
            </div>

            <div class="tech-cards">


               
                <div class="overall-card-3"><a href="/posts/commerce/<%=ctrendingpost.post.slug%>" id="oc31">
                    <h1 class="one-11">#trending </h1>
                    <div class="blog-post__info">

                    <h1 class="blog-post__title-3"><%=ctrendingpost.post.title%></h1>
                    <p class="blog-post__text-3" id="card-text"><%=ctrendingpost.post.content.substring(0,210)%></p>
                    <a href="/posts/commerce/<%=ctrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=ctrendingpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=ctrendingpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=ctrendingpost.post.shares%></span></li></button> -->
   
                    <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= ctrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=ctrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=ctrendingpost.post.shares%></span></li></button></a>                     <span></span>
                    </ul>

                    </div>
                </a>
                </div>


                <% if(crecommendedpost && crecommendedpost.post){ %>
                <div class="overall-card-3"><a href="/posts/commerce/<%=crecommendedpost.post.slug%>" id="oc32">
                    <h1 class="one-11">#Recommended </h1>

                    <div class="blog-post__info">
                   
                    <h1 class="blog-post__title-3"><%=crecommendedpost.post.title%></h1>
                    <p class="blog-post__text-3" id="card-text"><%=crecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/commerce/<%=crecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=crecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=crecommendedpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=crecommendedpost.post.shares%></span></li></button> -->

<a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= crecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=crecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=crecommendedpost.post.shares%></span></li></button></a>                        <span></span>
                    </ul>
                   

                    </div>
                    </a>
                </div>
                <% } %>


            <div class="overall-card-3"><a href="/posts/commerce/<%=cpopularpost.post.slug%>" id="oc33">
                <h1 class="one-11">#Popular </h1>

                <div class="blog-post__info">

                <h1 class="blog-post__title-3"><%=cpopularpost.post.title%></h1>
                <p class="blog-post__text-3" id="card-text"><%=cpopularpost.post.content.substring(0,210)%></p>
                <a href="/posts/commerce/<%=cpopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                <ul class="btns-on-blogcard">
                    <button onclick="like(this)" getpost="<%=cpopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=cpopularpost.post.likes%></span></li></button>
                    <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=cpopularpost.post.shares%></span></li></button> -->
    
    <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= cpopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=cpopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=cpopularpost.post.shares%></span></li></button></a>                <span></span>
                </ul>

                </div>
                </a>
        </div>
   
            </div>

            <a href="/posts/commerce?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-3">Explore more ...</h2>
            </div></a>



        </div>




























        <div class="Personality-dev">

            <div class="tech-imgs">
                <img src="/images/sa.png" id="left-img-4" alt="" >
                <img src="/images/97 (2) - Copy.png" id="right-img-4" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-44">Personality Development </h2>
            </div>

            <div class="tech-cards">


               
                <div class="overall-card-4"><a href="/posts/personality-development/<%=pdtrendingpost.post.slug%>" id="oc41">
                    <h1 class="one-11">#trending </h1>

                    <div class="blog-post__info">

                    <h1 class="blog-post__title-4"><%=pdtrendingpost.post.title%></h1>
                    <p class="blog-post__text-4" id="card-text"><%=pdtrendingpost.post.content.substring(0,210)%></p>
                    <a href="/posts/personality-development/<%=pdtrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=pdtrendingpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=pdtrendingpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=pdtrendingpost.post.shares%></span></li></button> -->
  
  <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= pdtrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=pdtrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=pdtrendingpost.post.shares%></span></li></button></a>                      <span></span>
                    </ul>

                    </div>
                </a>
                </div>


                <% if(pdrecommendedpost && pdrecommendedpost.post){ %>
                <div class="overall-card-4"><a href="/posts/personality-development/<%=pdrecommendedpost.post.slug%>" id="oc42">
                    <h1 class="one-11">#Recommended </h1>

                    <div class="blog-post__info">
                    
                    <h1 class="blog-post__title-4"><%=pdrecommendedpost.post.title%></h1>
                    <p class="blog-post__text-4" id="card-text"><%=pdrecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/personality-development/<%=pdrecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=pdrecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=pdrecommendedpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=pdrecommendedpost.post.shares%></span></li></button> -->
                        <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= pdrecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=pdrecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=pdrecommendedpost.post.shares%></span></li></button></a>
                        <span></span>
                    </ul>
                   
                    </div>
                </a>
                </div>
                <% } %>


                <div class="overall-card-4"><a href="/posts/personality-development/<%=pdpopularpost.post.slug%>" id="oc43">
                    <h1 class="one-11">#Popular </h1>

                    <div class="blog-post__info">

                    <h1 class="blog-post__title-4"><%=pdpopularpost.post.title%></h1>
                    <p class="blog-post__text-4" id="card-text"><%=pdpopularpost.post.content.substring(0,210)%></p>
                    <a href="/posts/personality-development/<%=pdpopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=pdpopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=pdpopularpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=pdpopularpost.post.shares%></span></li></button> -->
   
   <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= pdpopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=pdpopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=pdpopularpost.post.shares%></span></li></button></a>                     <span></span>
                    </ul>

                    </div>
                </a>
                </div>
            </div>

            <a href="/posts/personality-development?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-4">Explore more ...</h2>
            </div></a>
        </div>



        <div class="review-section">
            <div class="review-img">
                <img class="r-img" src="/images/review.png" alt="">
            </div>

            <div class="review-heading">
                <h2 id="center-heading">Reviews</h2>
            </div>

            <button id = "left" class="review-btns"> <i class="fas fa-arrow-circle-left fa-2x"></i> </button>
                <div class="review-content">


                    <% if(reviews.length > 0){ %>
                    

                        <div class="review-card carousel__item carousel__item--visible" >
                            <img id="person-img" src="/uploads/review/<%=reviews[0].imagename%>" alt="">
                            <h2 id="designation"><%=reviews[0].designation%></h2>
                            <p id="person-review-content"><%=reviews[0].content%></p>
    
                        </div>

                        <div class="review-card carousel__item " >
                            <img id="person-img" src="/uploads/review/<%=reviews[1].imagename%>" alt="">
                            <h2 id="designation"><%=reviews[1].designation%></h2>
                            <p id="person-review-content"><%=reviews[1].content%></p>
    
                        </div>

                        <div class="review-card carousel__item " >
                            <img id="person-img" src="/uploads/review/<%=reviews[2].imagename%>" alt="">
                            <h2 id="designation"><%=reviews[2].designation%></h2>
                            <p id="person-review-content"><%=reviews[2].content%></p>
    
                        </div>
                    
                    
                    <% } %>
                </div>
            <button id = "right" class="review-btns"> <i class="fas fa-arrow-circle-right fa-2x"></i> </button>
        </div>

    </main>


    <footer>
        <span id="cu"></span>
        <div class="main-content">
            <div class="left box">
                <div class="content">
                    <div class="logo-footer-img">
                    <img src="/images/final_2.png" alt="logo" height="250px" width="250px">
                </div>
                    <div class="social">
                        <a href="https://www.facebook.com/BackBenchers-105240558097832"><span class="fab fa-facebook-f"></span></a>
                        <a href="https://www.instagram.com/the.back_benchers_/?igshid=1tkr1g17rzrf5"><span class="fab fa-instagram"></span></a>
                        <a href="https://www.linkedin.com/in/back-benchers-94a049202/"><span class="fab fa-linkedin-in"></span></a>
                    </div>
                </div>
            </div>

            <div class="center box">
                <h2>Quick links</h2>
                <div class="content">
                    <ul class="links">
                    <li><a href="#start"> > Home</a></li>
                    <li><a href="/posts/engineering?page=1"> > Engineering</a></li>
                    <li><a href="/posts/business-economics?page=1"> > Business & Economics</a></li>
                    <li><a href="/posts/commerce?page=1"> > Commerce</a></li>
                    <li><a href="/posts/personality-development?page=1"> > Personality Development</a></li>
                    </ul>
                </div>
            </div>

            <div class="center-right box">
                <h2>Company</h2>
                <div class="content">
                    <ul class="links">
                    <li><a href="/aboutus"> > About Us</a></li>
                    <!-- <li><a href="#" id="cu"> > Contact Us</a></li> -->
                    <li><a href="/termsandconditions"> > Terms and conditions</a></li>
                    <li><a href="/privacypolicy"> > Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            

            <div class="right box">
                <h2>Any queries ?</h2>
                <div class="content">
                    <form action="/query/submit/home" method="POST">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" name="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea  cols="25" rows="2" name="message"></textarea>
                        </div>
                        <div class="btn">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="bottom">
            <center>
                <span class="credits">Created by <a href="#start">Backbenchers</a> | </span>
                <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
            </center>
        </div>
    </footer>
    
</body>


<script>


        let slidePosition = 0;
        const slides = document.getElementsByClassName('review-card');
        const totalSlides = slides.length;

        document.
        getElementById('right')
        .addEventListener("click", function() {
            moveToNextSlide();
        });
        document.
        getElementById('left')
        .addEventListener("click", function() {
            moveToPrevSlide();
        });

        function updateSlidePosition() {
        for (let slide of slides) {
            slide.classList.remove('carousel__item--visible');
            slide.classList.add('carousel__item--hidden');
        }

        slides[slidePosition].classList.add('carousel__item--visible');
        }

        function moveToNextSlide() {
        if (slidePosition === totalSlides - 1) {
            slidePosition = 0;
        } else {
            slidePosition++;
        }

        updateSlidePosition();
        }

        function moveToPrevSlide() {
        if (slidePosition === 0) {
            slidePosition = totalSlides - 1;
        } else {
            slidePosition--;
        }

        updateSlidePosition();
        }


    var httpRequest;     
    var currentUser;
    function findUser(){
        httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = findUserRequest;
        httpRequest.open('GET', '/findUser');        
        httpRequest.send();
    }
    window.onload = findUser();

    
    function findUserRequest(){
        
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200 ) {
                var resJson = JSON.parse(httpRequest.responseText)
                currentUser = resJson.CurrentUser;
                console.log(currentUser)
                if(currentUser === undefined){
                    console.log("no one is logged in");
                } else {
                    console.log('user found!!')
                }
                
            } else {
            alert('There was a problem with the request.');
            }
        }
    }




function like(e){

        // document.getElementById('changelikecolor').style.color = "#ab2d24";
        if(currentUser){
            let curPostSlug = e.getAttribute('getpost');  
            httpRequest = new XMLHttpRequest();
            if (!httpRequest) {
              alert('Giving up :( Cannot create an XMLHTTP instance');
              return false;
            }
            httpRequest.onreadystatechange = likeRequest;
            httpRequest.open('GET', '/posts/liked/' + curPostSlug);        
            httpRequest.send();
          
          }
         else {
        //   document.querySelector("#message").innerHTML = "you need to log in to like this post";
            window.location = '/register_or_login?m=0';
        }
      }

      function likeRequest(){
          if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200) {
              let respJson = JSON.parse(httpRequest.responseText)
              console.log(respJson.message)
            //   document.querySelector('.count').innerText = respJson.message;
            } else {
              alert('There was a problem with the request.');
            }
          }
        }



        async function sharePost(e){
        if(currentUser){
            var curPostSlug = e.getAttribute('getpost');  
            
            httpRequest = new XMLHttpRequest();
            if(!httpRequest){
                alert('Giving up :( Cannot create an XMLHTTP instance')
                return false;
            }
            httpRequest.onreadystatechange = sharePostRequest;
            httpRequest.open('GET', '/sharePost/' +curPostSlug);
            httpRequest.send();
        } else {
            console.log("you need to login to share this post")
            window.location = '/register_or_login?m=0'
        }
    }

    function sharePostRequest(){
        
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
            if (httpRequest.status === 200 ) {       
                    var resJson = JSON.parse(httpRequest.responseText)
                    document.getElementById('sharecount').innerHTML = resJson.value;
                } else {
                    alert('There was a problem with the request.');
                }
            }
        }


        

</script>

<style>

   

    .carousel__item,
 .carousel__item--hidden {
  display: none;
}

 .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }

  @keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}


</style>

  

</html>